# Simula demora nas consultas de BD
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
# Nome da pasta onde as imagens são salvas após upload
IMAGE_UPLOAD_DIRECTORY=uploads
# URL completa do servidor de imagens sem barra final
IMAGE_SERVER_URL='http://localhost:3000/uploads'
